:root {
  --primary-100: rgb(0, 138, 94);
  --primary-200: rgb(0, 99, 68);
  --primary-300: rgb(10, 15, 92);
  --secondary-100: rgb(0, 127, 166);
  --secondary-200: rgb(0, 178, 89);
  --secondary-300: rgb(25, 47, 132);
}

fieldset {
  border: 0;
  padding: 0.5em;
  margin: 10px 0px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--primary-textfield);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.long-input {
  width: 80%;
}

.medium-input {
  width: 60%;
}

label {
  display: block;
  line-height: 48px;
}

.form {
  text-align: center;
}

.full-input {
  width: 90%;
}

.half-input {
  width: 90%;
}

input::placeholder {
  text-align: center;
}

textarea::placeholder {
  text-align: center;
}

.entry {
  text-align: left;
  padding-left: 40px;

}

.submit-btn {
  font-weight: 800px;
}

.fade {
  background-color: transparent;
  color: black;
  transition: background-color 0.4s;
  border-radius: 8px;
}

.fade:hover {
  background-color: rgb(104, 189, 104);
  border-radius: 8px;
}

.nav {
  text-align: center;
  height: 100px;
}
nav a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 0 0.75em;
  font-weight: 700;
  line-height: 64px;
}

nav a.active {
  color: var(--secondary-300);
  background-color: var(--secondary-200);
}

.entry-details {
  padding-bottom: 30px;
}

.entry-details label {
  display: flex;
  gap: 1em;
  align-items: center;
  font-weight: 800;
  margin-bottom: -16px;
}

.inline-edit.hidden {
  display: none;
}

header.header {
  background-color: var(--primary-200);
}

.body {
  font-weight: 700;
}

.main-label {
  font-size: x-large;
  font-weight: 650;
  color: var(--primary-300);
}

.sub-label {
  font-size: x-large;
  font-weight: 650;
  color: var(--primary-300);
}

.basic-label {
  font-size: x-large;
  font-weight: 650;
  color: var(--primary-300);
}

.entry-line {
display: grid;
grid-template-columns: 1fr 10fr;
}

.display-label {
  align-self: start;
}

.nav-span {
  margin-left: 10px;
}

.login-msg {
  display: grid;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.create-form {
  display: grid;
  margin: auto;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "username email" "password ." "password2 ." "create-btn .";
  gap: 0.5em;
}

.username {
  grid-area: username;
}

.email {
  grid-area: email;
}

.password {
  grid-area: password;
}

.password2 {
  grid-area: password2;
}

.create-btn {
  grid-area: create-btn;
}

.create-header {
  display: grid;
  margin: auto;
  justify-content: center;
  margin-bottom: 25px;
}


.testimonial-banner {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 7em;
  background-color: var(--secondary-100);
  font-size: 30px;
  color: white;
}

.numbers-banner {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 7em;
  left: 0;
  right: 0;
  height: 10em;
  width: 100%;
  height: 15em;
  background-color: var(--primary-100);
  font-size: 30px;
  color: var(--primary-300);
  margin-bottom: 3em;
}

.numbers {
  padding-top: 1em;
}

.img-grid-container {
  display: grid;
  grid-template-columns: 2;
  grid-template-areas: "img text";
  align-content: center;
 

}

.text-grid-container {
  display: grid;
  grid-template-columns: 2;
  grid-template-areas: "text img";
  align-content: center;
  background-color: rgb(16, 162, 225);
  margin-top: 50em;
}

.text {
  grid-area: text;
}

.img {
  grid-area: img;
}

.game-plan {
  margin-bottom: 10em;
}

.login-action {
  padding-left: .5em;
}

.demo-login {
  margin-right: 2em;
}

.img-link:link {
  color: white;
}

.img-link:visited {
  color: var(--secondary-100)
}

img {
  background-color: transparent;
}